<div class="containerX">
  <div class="containerMD">
    <select class="" name="">
      <option value="option">Autor</option>
    </select>
    <select class="" name="">
      <option value="option">Lingua</option>
    </select>
      <select class="" name="">
        <option value="option">Categoria</option>
      </select>
  </div>
  <div class="containerMD">
    <form class="search-container">
      <input type="text" id="search-bar" placeholder="O que posso te ajudar a encontrar hoje?">
      <a href="#"><img class="search-icon" src="imgs/search-icon.png"></a>
    </form>
  </div>
  <div class="espaceembranco">
    Resultado da pesquisa:
  </div>
  <div class="containerX">
    <ul class="exibeListaTitulo">
      <li class="imagem"></li>
      <li class="imagem"></li>
      <li class="imagem"></li>
      <li class="imagem"></li>
      <li class="imagem"></li>
    </ul>
  </div>
</div>
<div class="espaceembranco">

</div>
