<div class="containerX">
  <div class="col-5 float-l">
    <h2>Cadastro de titulo</h2>
  </div>
  <div class="col-5 float-l">
    <h2>Obras do titulo </h2>
  </div>
  <div class="col-5 float-l">
    <form class="form" action="index.html" method="post">
      <div class="col-9">
        <label for="">Nome da obra</label>
        <input type="text" name="name" value="">
      </div>
      <div class="col-9">
        <label for="">Tipo de obra</label>
        <select  name="" >
          <option value="option">Tipo de obra</option>
        </select>
      </div>
      <div class="col-9">
        <label for="">ISBN</label>
        <input type="text" name="name" value="">
      </div>
      <div class="col-9">
        <label for="">ISSN</label>
        <input type="text" name="name" value="">
      </div>
      <div class="col-9">
        <label for="">Categoria</label>
        <select class="" name="">
          <option value="1">Categoria</option>
        </select>
      </div>
      <div class="containerX ">
        <button type="button"  name="button" class="botaoX verde float-l">Salvar</button>
      </div>


    </form>

  </div>
  <div class="col-4 float-r">

  </div>
</div>
