<div class="containerX">
  <div class="containerMD">
    <form class="form-login" action="index.html" method="post">
      <div class="float-l">
        <label for="">Email</label>
        <input type="text" name="name" class="campo-form" value="" size="30" >
      </div>
      <div class="float-l">
        <label for="">Senha</label>
        <input type="text" name="name" class="campo-form" value="" size="30" >
      </div>
      <div class="float-l">
        <label for="">Telefone:</label>
        <input type="text" name="name" class="campo-form" value="" size="30" >
      </div>
      <div class="float-l">
        <label for="">Telefone secundario:</label>
        <input type="text" name="name" class="campo-form" value="" size="30" >
      </div>
      <div class="float-l">
        <label for="">Tipo de conta:</label>
        <select class="" name="">
          <option value="option">Tipo de conta</option>
        </select>
      </div>
      <div class="float-l">
        <input type="button" class="botaoX verde" name="name" value="Cadastrar">
      </div>
    </form>
  </div>
</div>
