<div class="containerX">
  <div class="containerMD">
    <form class="form-login" action="Auth.do?acao=entrar" method="post">
      <div class="float-l">
        <div class="float-l">
        <label for="">Email</label>
        <input type="text" name="email" class="campo-form" value="rubrivira" size="30" >
      </div>
      <div class="float-l">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" value="uhu"  size="30" >
      </div>
      <div class="float-r">
        <input type="submit" class="botaoX verde" name="name" value="Entrar">
      </div>

    </form>
  </div>
  <div class="containerMD">

  </div>
</div>
</div>
