body{
  margin: 0px;
  background: rgb(230, 231, 230);
}
h2 {
    font-family: sans-serif;
}
/*Colunas*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.cinza {
  color: #2d2d2d;
}
/*Containers*/

.container {
  width: 100%;
  height: auto;
  background: rgb(230, 231, 230);
}
.bg {
  background: #188C8C;
}
/*Direção*/
.esquerda {
  text-align: left;
}
.direita {
  text-align: right;
}
.float-r {
  float:right;
  padding-right: 9px;
}
.float-l {
  padding: 7px;
  float:left;
}
.containerX {
  /*margin-top: 5px;*/

  margin: 0 auto;
  width: 1080px;
  min-height: 100px;
}
.containerMD {
  width: 50%;
  margin-top: 5px;
  height: auto;
  float: left;
}
.logo {
  margin: 20px;
}
.containerLogo {
  width: 1010px;
  height: 150px;
  margin: 0 auto;

}
/*Botões*/
.botaoX {
  width: 120px;
  height: 50px;
  border-radius: 3px;
  border: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
label {
  color: #6d6c6c;
}
.form-login {
  width: 300px;
  float: left;
}
.botaoS {
  width: 80px;
  height: 30px;
  /*border-radius: 9px;*/
  border-style: solid;
}
.botaoM {
  width: 60px;
  height: 30px;
  border-radius: 9px;
  border-style: solid;
}
/*Cores*/
.azul {
  background: rgb(38, 73, 120);
}
.vermelho {
  background: rgb(176, 30, 30);
}
.verde {
  background: #4dba7a;
}
.preto {
  background: black;
}
.txt-branco {
    color: white;
}
/*Alinhar horizontal*/
.horizontal {
  margin-top: 5%;
}
/*Espaço em branco*/
.espaceembranco {
  margin-top: 20px;
}
/*Exibir Titulo*/

.exibeListaTitulo {
  float: left;
  margin-left: auto;
}
.exibeListaTitulo ul {
  float: left;
}
.exibeListaTitulo li{
  list-style-type: none;
}
.imagem {
  vertical-align:middle;
  width: 160px;
  height: 240px;
  float: right;
  background: rgb(131, 131, 131);
  margin: 10px;
}

nav {

}
nav a{

}
nav a:active{

}
/*Barra pesquisa*/

.search-container{
  width: 80%;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
